* {
    font-family: 'Roboto', sans-serif;
}

header {
    min-height: 167px;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
nav {
    position: fixed;
    width: 100%;
    min-height: 30px;
    z-index: 2;
    border-bottom: 0.5px solid #ececec;
    padding: 15px 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    align-items: center;
}
.menu .menu_link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3b3b3b;
    text-decoration: none;
    line-height: 22px;

}
.menu .menu_item {
    padding-right: 15px;
    border-right: 1px dotted #a5a2a2;
    height: 14px;
}
.menu .menu_item:last-child {
    border-right: none;
}
.subheader {
    position: absolute;
    top: 95px;
    min-height: 127px;
    width: 100%;
}
.subheader .subheader_wrap {
    display: flex;
    justify-content: space-between;
}
.subheader .subheader_wrap .subheader_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subheader .subheader_wrap .subheader_item .subheader_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    border: 2px solid #f7aa7f;
}
.subheader .subheader_wrap .subheader_item .descr {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #3b3b3b;
}