* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 167px;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
nav {
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 2;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3b3b3b;
}
.menu .menu_item {
    border-right: 1px black 
}